<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/addLocation.css" />
		<script type="text/javascript" src="/angular/angular.min.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <script type="text/javascript">
	    	function checkform() {
					var _phone = /^1(3[0-9]|5[012356789]|8[0-9]|4[579]|7[3567])[0-9]{8}$/; //手机号
					var _postcode = /^[1-9]d{5}$/; //邮编

					var msg = document.getElementById('msg-warnning');
					
					var address = $(".address").val();
					var shname = $(".shname").val();
					var phone = $(".phone").val();
					var postcode = $(".postcode").val();

					if(address.length<1) {
						msg.innerHTML ="地址不能为空";
						msg.style.display="block";
						setTimeout(function(){msg.style.display="none";},1000);
						return false;
					} 
					 if(shname.length<1) {
					 	msg.innerHTML = "姓名不能为空";
						msg.style.display="block";
						setTimeout(function(){msg.style.display="none";},1000);
						return false;
					} 
					if(!_phone.test(phone)) {
						msg.innerHTML = "电话号码不合法";
						msg.style.display="block";
						setTimeout(function(){msg.style.display="none";},1000);
						return false;
					}
					if(!_postcode.test(postcode)) {
						msg.innerHTML = "邮政编码不合法";
						msg.style.display="block";
						setTimeout(function(){msg.style.display="none";},1000);
						return false;
					}

					return true;
				}

	    </script>
	</head>
	<body>
		<div class="title">
			<span class="back"><a href="/location"></a></span>
			<span class="titlename">管理收货地址</span>
		</div>
		<div class="modeBox">
			<ul id="province">
				
			</ul>
			<ul id="city">
				<li class="choice"></li>
			</ul>
			<ul id="area">
				<li class="choicecity"></li>
				<li class="choicearea"></li>
			</ul>
		</div>
		<div class="formBox">
			<form method="post" action="/location/update" onsubmit="return checkform();">
				<ul>
					<li class="chang">
						<input name="province" type="text" contenteditable="false" value="<%=locationItem.province%>" class="dd province"readonly="readonly"/>
						<input name="city" type="text" contenteditable="false" value="<%=locationItem.city%>" class="dd city" readonly="readonly"/>
						<input name="district" type="text" contenteditable="false" value="<%=locationItem.district%>" class="dd district" readonly="readonly"/>
					</li>
					<li>
						<input placeholder="请输入详细地址" name="address" class="address" value="<%=locationItem.address%>"/>
					</li>
					<li>
						<input placeholder="请输入收货人姓名" name="shname" class="shname" value="<%=locationItem.shname%>"/>
					</li>
					<li>
						<input placeholder="请输入收货人电话" name="phone" class="phone" value="<%=locationItem.phone%>"/>
					</li>
					<li>
						<input placeholder="请输入邮政编码" name="postcode" class="postcode" value="<%=locationItem.postcode%>"/>
					</li>
					<li class="default" ng-app="">
						<span>设为默认</span>
						<div class="check" ng-model="flag" ng-init="flag=<%=locationItem.flag%>">						    
						    <input type="checkbox" value="1" id="checkBoxInput" name="flag"  checked ng-if="flag==1"/>
						    <input type="checkbox" value="0" id="checkBoxInput" name="flag"  ng-if="flag!=1"/>
							<label for="checkBoxInput" class="cg"></label>
						</div>
						
					</li>
					<input type="hidden" name="_id" value="<%=locationItem._id%>"/>
					<input type="hidden" name="uid" value="<%=locationItem.uid%>"/>
					<li class="default">
						<a href="#">删除该收货地址</a>
					</li>
					<li class="tijiao">
						<input type="submit" value="保存修改" />
					</li>
				</ul>
			</form>
		</div>
	<script type="text/javascript" src="/jquery/dist/jquery.js" ></script>
	<script>
		$(function(){
			
			var datas,provinceCtrl,cityCtrl,provIndex,cityIndex,areaCtrl,areaIndex;
			$(".modeBox").css('display','none');
			$(".formBox").css('display',"block");
			function initDate(){
				$.ajax({
				type:"get",
				url:"/json/region.json",
				async:true,			
				success:function(data){
					datas=data;
					/*alert(data[1].name)*/
					for (var i=0;i<data.length;i++) {
						$("#province").append(
							"<li>"+
							  data[i].name+
							 "</li>"
						);
					}
				}
			});			
			}
			$(".cg").click(function(){
				var flag=$(this).parent().find("input").val();
				if(flag==1){
					$(this).parent().find("input").val(0);
				}else{
					$(this).parent().find("input").val(1);
				}
			})
			$(".chang").click(function(){
				$(".modeBox").css('display','block');
				$(".formBox").css('display',"none");
				initDate();
			})			
			$("#province").on('click',"li",function(){
				
				provIndex=$(this).index();
				provinceCtrl=$(this).html();
				$("#province").css('display','none');
				$("#city").css('display','block');
				$("#city .choice").html(provinceCtrl);
				var len=datas[provIndex].city.length;
				for (var i = 0; i < len; i++) {
					$("#city").append(
							"<li class='t2'>"+
							 datas[provIndex].city[i].name+
							 "</li>"
						);
				}
			});
			$("#city").on('click','li',function(){
				cityIndex=$(this).index();
				cityCtrl=$(this).html();
				$("#city").css('display','none');
				$("#area").css('display','block');
				console.log("city"+cityCtrl+"==="+"province"+provinceCtrl)
				$("#area .choicearea").html(cityCtrl);
				$("#area .choicecity").html(provinceCtrl);
				var leng=datas[provIndex].city[cityIndex-1].areas.length;
				for (var i = 0; i < leng; i++) {
					$("#area").append(
							"<li class='t1'>"+
							 datas[provIndex].city[cityIndex-1].areas[i]+
							 "</li>"
						);
				}
			});
			$("#area").on('click','li',function(){
				areaIndex=$(this).index();
				areaCtrl=$(this).html();
				$(".modeBox").css('display',"none");
				$(".formBox").css('display','block');
				$(".province").val(provinceCtrl);
				$(".city").val(cityCtrl);
				$(".district").val(areaCtrl);
				
			});
			$(".choice").click(function(){
				$("#province").css('display','block');
				$("#city").css('display','none');
				$("li").remove('.t2');
				return false;
			});
			$(".choicearea").click(function(){
				$("#city").css('display','block');
				$("#area").css('display','none');
				$("li").remove('.t1');
				return false;
			});
			$(".choicecity").click(function(){
				$("#area").css('display','none');
				$("#province").css('display','block');
				$("li").remove('.t1');
				$("li").remove('.t2');
			})
			
		})
	</script>
	</body>

</html>
